"DepotBuildConfig"
{
    "DepotID" "{{LINUX_DEPOT_ID}}"
    "ContentRoot" "."
    "FileMapping"
    {
        "LocalPath" "*"
        "DepotPath" "."
        "recursive" "1"
    }
    "FileExclusion" "*.log"
}
